<h1>
  <!--{{title}}que es el "binding" o la "conexion" entre la clase y el html.-->
  {{title}}  
</h1>
<div>
  <!--Con este "HTML" lo que vamos a hacer es ejecutar una funcion "click" que va a ejecutar 
    una funcion "miFuncion" , de esa forma vamos a conectar el HTML con el TS ...
  Para entender un poco mas, los atributos de los "TAGS" que tengan los parentesis () , 
  van a estar "bindeados" con el TS , por lo tanto por ejemplo si el es TAP o CLICK o alguno otro,
  van a ser funciones que se ejecuten dentro de Angular, seria como un equivalente a onClick="" y 
  que eso ejecute una función.-->  
  <a (click)="miFuncion('le paso una variable')"> Click Me </a>
</div>

<h1>Input</h1>
<div>
  <a href="https://jorgeucano.gitbook.io/entendiendo-angular/capitulo-3-componentes/32-input">NO ME SALIO</a>
  <ul *ngFor="let id of ids">
    <app-input entrada="id"></app-input>
  </ul>
</div>

<h1>Output</h1>
<output-component (outputEmiter)="outputEmiter($event)"></output-component>