<h1>
  <!--{{title}}que es el "binding" o la "conexion" entre la clase y el html.-->
  {{title}}  
</h1>
<div>
  <!--Con este "HTML" lo que vamos a hacer es ejecutar una funcion "click" que va a ejecutar 
    una funcion "miFuncion" , de esa forma vamos a conectar el HTML con el TS ...
  Para entender un poco mas, los atributos de los "TAGS" que tengan los parentesis () , 
  van a estar "bindeados" con el TS , por lo tanto por ejemplo si el es TAP o CLICK o alguno otro,
  van a ser funciones que se ejecuten dentro de Angular, seria como un equivalente a onClick="" y 
  que eso ejecute una función.-->  
  <a (click)="miFuncion('le paso una variable')"> Click Me </a>
</div>

<h1>Input</h1>
<div>
  <a href="https://jorgeucano.gitbook.io/entendiendo-angular/capitulo-3-componentes/32-input">NO ME SALIO</a>
  <ul *ngFor="let id of ids">
    <app-input entrada="id"></app-input>
  </ul>
</div>

<div>
<h1>Output</h1>
<output-component (outputEmiter)="outputEmiter($event)"></output-component>
</div>

<!--Directivas
Las directivas son "atributos" que vamos a agregar a nuestro codigo.-->
<div>
  <a>---------------------------------------------------</a> <br>
  <!--los corchetes nos sirven para "bindear" lo que ponemos adentro con 
    Angular... lo que hicimos es una "directiva" comun.. con un "Atributo"
    cambiamos nuestro background... lo que hacemos con esto es pasarle 
    los parametros a nuestra webApp y cambiarle los parametros a nuestro gusto...-->
  <a href="https://jorgeucano.gitbook.io/entendiendo-angular/capitulo-6-directivas/capitulo-5-directivas">DIRECTIVAS</a>
  <!--[ ] => le genera una referencia al elemento completo
  style.background => hace referencia a lo que quiere obtener del elemento que obtuvimos.
  =" 'lime' " => le asigna el color "lime" pero con esto podemos ver que la directiva, obtiene una referencia del elemento en el que esta y luego modifica sus parametros para hacer un "custom" de lo que necesitamos..-->
  <h1 [style.background]="'lime'">
    {{title}}
  </h1>

  <h1 [style.background]="'lime'" appCustomDirectives>
    {{title}}
  </h1>
</div>